/* show actions when editing, or on hover */
.annotation-item:hover .annotation-actions {
  display: flex;
  z-index: 1;
}

/* annotation action buttons styling */
.annotation-actions button {
  background: transparent;
  border: none;
  color: grey;
  cursor: pointer;
}

.annotation-actions button:hover {
  color: var(--deep-blue);
}

/* actions container */
.annotation-actions {
  /* hidden by default */
  display: none;
  background-color: #bbb;
  border-radius: 0.5rem;
  padding-top: 0.1rem;
  position: absolute;
  top: 50%;
  right: 7px;
  transform: translateY(-50%);
  pointer-events: auto;
}

/* text inside an annotation item */
.annotation-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

/* annotation item styling and uniform input box styling */
.annotation-item {
  position: relative;
  background-color: var(--light-grey-blue);
  border: 0.1rem solid var(--deep-blue);
  padding: max(6px, 0.7vh) 10px;
  border-radius: 0.6rem;
  font-weight: 500;
  color: var(--deep-blue);
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin-bottom: 5px;
  transition: outline 0.1s ease;
  display: flex;
  align-items: center;
}

.annotation-item:hover {
  outline: 0.1rem solid var(--deep-blue);
}

.annotation-item.selected {
  background-color: var(--deep-blue);
  color: white;
}

.annotation-item input {
  border: none;
  outline: none;
  background: transparent;
  font: inherit;
  color: inherit;
  box-shadow: none;
  flex: 1;
}

.annotations-wrapper {
  max-height: 40vh;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  padding-right: 0.1rem;
  padding-left: 0.1rem;
  padding-top: 0.1rem;
  flex-direction: column-reverse;
  width: 100%;
}

/* container for annotation input and button */
.annotation-input {
  display: flex;
  max-width: 100%;
  gap: 2px;
  position: relative;
}

.annotation-input-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-grey-blue);
  border: none;
  padding: 0.2rem 0.5rem;
  color: white;
  white-space: nowrap;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: background-color 0.3s;
  position: relative;
  font-size: clamp(0.4rem, 1.8vw, 16px);
}

.annotation-input-btn:hover {
  background-color: var(--dark-grey-blue-hover);
}

.annotation-input-elem {
  /* remove default input styling */
  border: none;
  outline: none;
  background: transparent;
  font: inherit;
  color: inherit;
  box-shadow: none;
  position: relative;

  background-color: var(--light-grey-blue);
  border: 0.1rem solid var(--deep-blue);
  padding: max(6px, 0.7vh);
  border-radius: 0.6rem;
  font-weight: 500;
  color: var(--deep-blue);
  width: 100%;
  height: 80%;
  box-sizing: border-box;
  margin-bottom: 5px;
}

.annotation-input-elem::placeholder {
  color: var(--dark-grey-blue);
}
